html, body {
  overflow: auto;
}

#pages {
  overflow: none;
  margin: 20px;

  padding: 20px;
  background: #FFF;
  -webkit-box-shadow: rgba(100, 100, 100, 0.3) 0 2px 6px;
  -moz-box-shadow: rgba(100, 100, 100, 0.3) 0 2px 6px;
  box-shadow: rgba(100, 100, 100, 0.3) 0 2px 6px;
}